<h1 class="center home_h">Welcome to Code//Talk Dashboard</h1>
<hr> 
<div class="center">
    <img class=" dash_img_1 " src="/computer-coding-chris-pondoc-2-638.jpg" alt="">
</div>
<%# user profile %>
<h3 class="home_h">User Profile</h3>

<div class="roboto_mono">
Code Language: <%= @player.code_lang%><br>
User ID: <%= @player.id%><br>
Username: <%= @player.username %><br>
Password: <%= @player.password %><br>
First Name: <%= @player.first_name  %><br>
Last Name: <%= @player.last_name %><br>
Email: <%= @player.email%><br>
Birthday: <%= @player.birthday %>
</div>

<%# delete account %>
<div>
<h6 class="roboto_mono" >To delete your account click goodbye button below.</h6>
<form class="roboto_mono" action="/cancel" method="post">
    <input type="submit" value="Goodbye!">
</form>
</div>

<%# display the team and click email address to create an email %>
<h3 class="home_h">The team</h3>
<%all_users = User.all%>
<%total_users = all_users.size%>
<p class="roboto_mono">There are <%=total_users%> users </p>
<div class="roboto_mono">
<%if @users!=nil%>
    <% @users.each do |user| %>
        Username: <%= user.username %><br>
        Email: <a href="/email" target="_top"><%= user.email %></a> <br><br>
    <% end %>
<% end %>
</div>
<p class="roboto_mono"> Click link to send an email to your buddy.</p>

<%# history of my posts %>
<%total_my_post = @user_posts.size%>
<h3>History - my posts</h3>
<p class="roboto_mono">My total posts are: <%=total_my_post%></p>
<div class="roboto_mono">
 <%if @user_posts!=nil%>
        <% @user_posts.each do |post| %>
            Post Id: <%= post.id  %> <br>
            Title: <%= post.title %><br>
            Content: <%= post.content %> <br>
            <%x = post.users_id%>
            User Id: <%=post.users_id%><br>
            <%user=User.find(x)%>
            Username: <%= user.username %> <br> <br>    
         <% end %>
    <% end %>
</div>
<%# takes you to the profile page for posts  %>
<h3 class="home_h">Click a user number to view the posts page</h3>
 <div class="roboto_mono">
 <%if @users!=nil%>
    <% @users.each do |user| %>
        Username: <%= user.username %><br>
        User ID: <a href="/my_posts"><%=user.id %></a> <br><br>
    <% end %>
<% end %>
</div>


<h1 class="center home_h">Lets talk code</h1>
<div class="center dash_img_2">
    
</div>


<%# new posts %>
<form class="roboto_mono" action="/dashboard" method="post">
  <input type="text" name="title" id="" placeholder="Title of your post"><br>
  <textarea name="content" id="" cols="30" rows="20"placeholder="Type your post here"></textarea>
  <input type="submit" value="Create post">
</form>


<%# history of posts %>
<%all=Post.all%>
<%twenty=Post.limit(20)%>
<%twenty_size = twenty.size%>
<%total_post = all.size%>
<h3 class="home_h">History - all posts</h3>
<p class="roboto_mono">There are <%=total_post%> posts. We will display <%=twenty_size%></p>
<div class="roboto_mono">
    <%if @posts!=nil%>
        <% twenty.each do |post| %>
            Post Id: <%= post.id  %> <br>
            Title: <%= post.title %><br>
            Content: <%= post.content %> <br>
            <%x=post.users_id%>
            User Id: <%=post.users_id%><br>
            <%user=User.find(x)%>
            Username: <%= user.username %> <br> <br>    
         <% end %>
    <% end %>
</div>



