<h1 class="center home_h">Welcome to Code//Talk </h1>
<hr> 
<%all_users = User.all%>
<%total_users = all_users.size%>
<h3 class="home_h">History of a member's posts</h3>

<p class="roboto_mono">List of users</p>
<p class="roboto_mono">There are <%=total_users%> users </p>
<div class="roboto_mono">
   <% all_users .each do |user| %>
        Username: <%= user.username %><br>
        User ID: <%=user.id %> <br><br>
    <% end %>
 </div> 

<form class="roboto_mono" action="/my_posts" method="post">
    <input type="number" name="search" id="" placeholder="Search by ID"><br>
    <input type="submit" value="Search">
</form>
<p class="roboto_mono">You selected: <%=params[:search]%></p>
<%p params[:search]%>

<%my_posts = Post.where("users_id = ?", params[:search])%>
<%my_total_posts = my_posts.size%>
<h3 class="home_h">User posts</h3>


<p class="roboto_mono"> <%=my_total_posts%> posts </p>
<div class="roboto_mono">
        <% my_posts.each do |post| %>
            Post Id: <%= post.id  %> <br>
            Title: <%= post.title %><br>
            Content: <%= post.content %> <br>
            <%x = post.users_id%>
            User Id: <%=post.users_id%><br>
            <%user=User.find(x)%>
            Username: <%= user.username %> <br> <br>    
         <% end %>
</div>
<%all=Post.all%>
<%total_post = all.size%>
<h3 class="home_h">All Posts</h3>
<p class="roboto_mono">There are <%=total_post%> posts</p>
<div class="roboto_mono">     
        <% all.each do |post| %>
            Post Id: <%= post.id  %> <br>
            Title: <%= post.title %><br>
            Content: <%= post.content %> <br>
            <%x = post.users_id%>
            User Id: <%=post.users_id%><br>
            <%user=User.find(x)%>
            Username: <%= user.username %> <br> <br>    
         <% end %>
</div>